.login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 25%;
}

.form-label{
    display: inline-block;
    width: 110px;
}

.form-control{
    margin-bottom: 10px;
}

.validator{
    display: block;
    margin-left: 117px;
}

#pnlErrors{
    color: red;
    margin-bottom: 10px;
}