.kanboard {
    border-collapse: collapse;
    width: 100%;
    min-height: 200px;
}
.draggable-placeholder {
    border: 2px dashed #000;
    background: #fafafa;
    height: 73px;
    margin-bottom: 10px;
    margin-left: auto ;
    margin-right: auto ;
    width:95%;
}
.kanboard, .kanboard th, .kanboard td {
    border: 1px solid black;
}
.kanboard th{
    text-align: left;
    font-weight:bold;
    background:lightblue;  
}
.kanboard td{
    width: 20%;   
}

.task{
    position: relative;  
    margin-left: auto ;
    margin-right: auto ;
    border: 1px solid #000;
    padding: 5px;
    font-size: 95%;
    height: 65px;
    width: 95%;
}
